<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">jgangular playground</h3>
</div>

	<jgcbox jginput="Har pt. store fødder?"
			jgoutput="{ja: 'Ja han har', nej: 'Nej han har ej'}">
	</jgcbox>	

	<jgcbox jginput="test2"
			jgoutput="{ja: 'Ja til spørgsmål', nej: 'nej til spørgsmål'}">
	</jgcbox>











<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>